**Tuples: Questions**

**Create a tuple containing the following elements: 42, "apple", 3.14, and True.**

In [1]:
elements=(42,"apple",3.14, True)
print(len(elements))

4

**Print the first and last elements of the tuple.**

In [12]:
elements=(42,"apple",3.14, True)
print(elements[0]," , ",elements[-1])

42  ,  True

**Create two tuples: tuple1 with elements (10, 20, 30) and tuple2 with elements (40, 50, 60) **Concatenate** these two tuples and print the result.
**

In [18]:

elem1=(10,20,30)
elem2=(40,50,60)

r= elem1 +elem2
print("Result: ",r)

Result:  (10, 20, 30, 40, 50, 60)

**Repeat tuple1 three times and print the result.**

In [24]:

elem1=(10,20,30)
elem2=(40,50,60)
r= elem1* 3 +elem2
print("Result: ",r)

Result:  (10, 20, 30, 10, 20, 30, 10, 20, 30, 40, 50, 60)

**Create a tuple with three elements: "Python", 5.0, and 2024. Unpack the tuple into three variables and print each variable.**

In [27]:
elem=("Python",5.0,2024)

e1=elem[0]
e2=elem[1]
e3=elem[2]

print(e1)
print(e2)
print(e3)

Python
5.0
2024

**Create a tuple containing another tuple inside it: ((1, 2, 3), (4, 5, 6)).Access and print the element 5 from the nested tuple.**

In [44]:
elem1=(1,2,3,(4,5,6))

e=elem1[3]
e1=e[1]

print("e: ",e)
print("e1: ", e1)

e:  (4, 5, 6)
e1:  5

**Practicing Sets:**

**Create a set with the following elements: "apple", "banana", "cherry".Add a new element "orange" to the set.**

In [47]:
elem ={"apple","banana","cherry"}

r=elem.add("orange")
print(elem)

{'orange', 'banana', 'cherry', 'apple'}

**Remove the element "banana" from the set.**

In [54]:
elem ={"apple","banana","cherry"}

r1=elem.add("orange")

print("After Adding Orange: ",elem)
r2=elem.remove("banana")
print("After Removing Banana ",elem)

After Adding Orange:  {'orange', 'banana', 'cherry', 'apple'}
After Removing Banana  {'orange', 'cherry', 'apple'}

**Check if "cherry" is in the set.**

**1st Example:**

In [63]:
elem ={"apple","banana","cherry"}

r="cherry"

if r in elem :
  print(f"{r} is in the set" )

else:
  print(f"{r} is not in the set")

cherry is in the set

**2nd Example:**

**Check if "sugar" is in the set.**

In [72]:
e1={"potato","cucumber","sugar"}

r="sugar"

print("All elements: ", e1)

if r in e1:
  print(f"{r} is in elements" )

else:
  print(f"{r} is not in elements")

All elements:  {'sugar', 'potato', 'cucumber'}
sugar is in elements

Create two sets: set1 with elements {1, 2, 3, 4} and set2 with elements {3, 4, 5, 6}.
**Find the union of the two sets and print the result.**

In [81]:
elem1={1,2,3,4}
elem2={3,4,5,6}

r=elem1.union(elem2)
print ("Union of e1 and e2 is: \n " ,r)

Union of e1 and e2 is:
  {1, 2, 3, 4, 5, 6}

**Find the intersection of the two sets and print the result.**

In [82]:
elem1={1,2,3,4}
elem2={3,4,5,6}

r=elem1.intersection(elem2)
print ("Intersection of e1 and e2 is: \n " ,r)

Intersection of e1 and e2 is:
  {3, 4}

**Find the difference between set1 and set2 and print the result.**

In [85]:
elem1={1,2,3,4}
elem2={3,4,5,6}

r=elem1.difference(elem2)
print ("Difference of e1 and e2 is: \n " ,r)

Difference of e1 and e2 is:
  {1, 2}

**Create a set comprehension that generates a set of squares of numbers from 1 to 10.**

In [101]:
elem1={1,2,3,4,5,6,7,8,9,10}

print(elem1)
for x in elem1:
  print(x,"-",x*x)
#print ("Difference of e1 and e2 is: \n " ,r)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
1 - 1
2 - 4
3 - 9
4 - 16
5 - 25
6 - 36
7 - 49
8 - 64
9 - 81
10 - 100